{
  "ftp": {
    "host": "",
    "port": 21,
    "username": "",
    "password": "",
    "remote_dir": "/"
  },
  "auto_upload": {
    "enabled": true,
    "extension": ".zip",
    "folder": "",
    "interval_seconds": 10
  },
  "schedule": {
    "enabled": false,
    "time": "20:00"
  },
  "searched_files": []
}