{
  "ftp": {
    "host": "192.168.1.100",
    "port": 21,
    "username": "anonymous",
    "password": "",
    "remote_dir": "/"
  },
  "auto_upload": {
    "enabled": true,
    "extension": ".zip",
    "folder": "/home/sanchiro/Downloads",
    "interval_seconds": 10
  },
  "schedule": {
    "enabled": false,
    "time": "20:00"
  },
  "searched_files": []
}